* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: flex-end !important;
    gap: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header, form, #createErrors {
    width: 100%;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button {
    margin-top: 10px;
}

.btn {
    width: fit-content;
}
