* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.nav-right {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content-left, .content-right {
    width: 48%;
}

.content-right {
    max-width: 400px;
}

#reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.one_review {
    margin-top: 20px;
    border-top: 1px solid black;
    padding: 8px;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
    margin-bottom: 5px;
}

.rating p {
    margin-top: 15px;
}

.rating img {
    width: 25%;
    max-width: 120px;
}

.rating, .review, .details {
    padding-left: 20px;
}

.details p {
    margin-bottom: 0px !important;
}

.books {
    border: 2px solid black;
    padding: 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
}