<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script> 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Login & Registration</title>
</head>
<body>
    <div class="registration-container">
        <div class="header">
            <h2>Registration</h2>
        </div>
        {% if messages %}
        <div class="alert alert-danger register-alert hidden" role="alert">
            <div class="messages">
                {% for message in messages %}
                    {% if 'register' in message.tags %}
                        <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <form action="/register" method="post" onsubmit="resetErrors()">
            {% csrf_token %}
            <label for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" value="{{request.session.first_name}}">
            <label for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" value="{{request.session.last_name}}">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="{{request.session.email}}">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password">
            <label for="confirm_pw">Confirm Password:</label>
            <input type="password" id="confirm_pw" name="confirm_pw">
            <div class="button"> 
                <input type="submit" class="btn btn-primary" value="Register">
            </div>
        </form>
    </div>
    <div class="login-container">
        <div class="header">
            <h2>Login</h2>
        </div>
        {% if messages %} 
        <div class="alert alert-danger login-alert hidden" role="alert">
            <div class="messages">
                {% for message in messages %}
                    {% if 'login' in message.tags %}
                        <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <form action="/login" method="post" onsubmit="resetErrors()">
            {% csrf_token %}
            <label for="login_email">Email:</label>
            <input type="text" id="login_email" name="login_email" value="{{request.session.login_email}}">
            <label for="login_password">Password:</label>
            <input type="password" id="login_password" name="login_password">
            <div class="button">
                <input type="submit" class="btn btn-primary" value="Log in">
            </div>
        </form>
    </div>
</body>
</html>