* {
    margin: 0px;
    padding: 0px;
}

body {
    padding: 20px;
}

.content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.registration-container, .login-container {
    width: 45%;
    max-width: 400px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

