body {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: flex-end;
}

.top {
    margin-bottom: 20px;
    width: 60%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.line {
    display: flex;
    gap: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    margin-top: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
}