<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>C+R Users</title>
</head>
<body>
    <h2>All the Users</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for user in all_users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email_address}}</td>
                <td>{{user.age}}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Add a User</h2>
    <form action="/add_user" method="post">
        {% csrf_token %}
        <div class="name">
            <label for="first_name">First Name</label>
            <input type="text" id="first_name" name="first_name">
            <label for="last_name">Last Name</label>
            <input type="text" id="last_name" name="last_name">
        </div>
        <div class="other_info">
            <label for="email">Email</label>
            <input type="text" id="email" name="email_address">
            <label for="age">Age</label>
            <input type="number" id="age" name="age">
        </div>
        <div class="submit">
            <input type="submit" value="Add" class="btn btn-primary ">
        </div>
    </form>
</body>
</html>