<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Comments</title>
</head>
<body>
    <div class="nav">
        <a href="/">back</a>
    </div>
    <div class="top">
        <div class="header">
            <h3>Add a comment</h3>
        </div>
        {% if messages %}
        <div class="alert alert-danger" role="alert"> 
            <div class="messages">
                {% for message in messages %} 
                    <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <form action="/courses/add_comment/{{course.id}}" method="post" class="form">
            {% csrf_token %}
            <label for="comment">Comment:</label>
            <textarea name="comment" id=comment cols="20" rows="5">{{request.session.comment}}</textarea>
            <div class="button">
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </form>
    </div>
    <div class="bottom">
        <div class="header">
            <h3>Comments</h3>
        </div>
        {% for comment in course.comments.all %}
        <div class="card">
            <div class="card-body">
                {{comment.comment}}
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>