<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Courses</title>
</head>
<body>
    <div class="top">
        <div class="header">
            <h2>Add a new course</h2>
        </div>
        {% if messages %}
        <div class="alert alert-danger" role="alert"> 
            <div class="messages">
                {% for message in messages %} 
                    <p {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <form action="/courses/create" method="post" class="form">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" value="{{request.session.name}}">
            <label for="description">Description</label>
            <textarea name="desc" id="desc" cols="20" rows="6">{{request.session.desc}}</textarea>
            <div class="button">
                <input type="submit" class="btn btn-primary" value="Add">
            </div>
        </form>
    </div>
    <div class="bottom">
        <div class="header">
            <h3>Courses</h3>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Course Name</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for course in all_courses %}
                <tr>
                    <td>{{course.name}}</td>
                    <td>{{course.desc.desc}}</td>
                    <td>{{course.created_at}}</td>
                    <td><a href="/courses/delete/{{course.id}}">remove</a> | <a href="/courses/view_comments/{{course.id}}">comment</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>