body {
    padding: 20px;
    width: 70%;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: end;
    gap: 20px;
}

h1 {
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container-left {
    width: 40%;
}

.container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}