body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.words {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
}

form {
    margin-top: 10px;
}