<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="board">

        {% for i in range(height) %}
            <div class="row">
            {% for j in range(width) %}
                {% if i%2 == 0 %}
                    <div class="square" style="background-color: {{color1}};"></div>
                    <div class="square" style="background-color: {{color2}};"></div>
                {% else %}
                    <div class="square" style="background-color: {{color2}};"></div>
                    <div class="square" style="background-color: {{color1}};"></div>
                {% endif %}
            {% endfor %}
            </div>
        {% endfor %}

    </div>
</body>
</html>