body {
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.registration-container, .login-container {
    width: 45%;
    max-width: 400px;
}

.hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

