body {
    padding: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav_left {
    display: flex;
    gap: 20px;
}

.hidden {
    display: none;
}

.container {
    width: 80% !important;
    max-width: 900px !important;
}

.post_message {
    margin-top: 20px;
}

.post_content {
    display: flex;
    justify-content: space-between;
}

textarea {
    width: 100%;
}

.button {
    display: flex;
    justify-content: flex-end;
}

.content, .one_post {
    margin-top: 8%;
}

.comments {
    padding-left: 30px;
}